# Ignore local virtual environments
.venv/
venv/
ENV/

# Ignore sensitive credentials
.env

# Ignore python caches and logs
__pycache__/
*.py[cod]
*$py.class
*.log

# Ignore IDE specific folders
.vscode/
.idea/
.DS_Store
